<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <!-- In this particular styling 
   bg-body-light: signifies the background color to light
  border-bottom: is used to add the boorder at the bottom of navbar
  sticky-top: is used to make the position of the navbar absolute
   -->
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings">All listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">ADD New Listings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>